include ../layouts/header

html 
    head 
        link(rel="stylesheet", href="/css/style.css")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        script(src="https://kit.fontawesome.com/efdf8a4608.js" crossorigin="anonymous")
        title Green shop
    body 
        +header
