extends ../base/layout
include ../components/breadcrumb
include ../components/title
include ../components/cart
include ../components/button

block main 
  .container 
    +breadCrumb(["Home"], "Giỏ hàng")
    +nolineTitle("giỏ hàng")
    +cartTable(cartItems) 
    .cart-btn__container
      +primaryBtn("HỦY ĐƠN HÀNG")
      +primaryBtn("TIẾP TỤC MUA")
    +cartPayment(cartItems)
    .cart-btn__container
      +primaryBtn("THANH TOÁN")
