extends ../base/layout
include ../components/title
include ../components/product 
include ../components/news

block main
    a(href="") 
            img(src="../assets/images/slide-1920x590.png")
    .container 
        div
            .mt-3  
                +title("Sản phẩm nổi bật")
            div(id="featured-products" class="row mt-4 mb-4 mobile-flex-column")
        div 
            .row.mb-4.mobile-flex-column 
                .col-md-12.col-lg-3.mobile-padding-0  
                    .mt-3.mb-4  
                        +title("Sản phẩm mua nhiều", false)
                    +bestSellingProducts()
                .col-md-12.col-lg-9
                    .mt-3.mb-4  
                        +title("Sản phẩm khuyến mại", true)
                    +productList("discount-products")
        img(class="mb-4" src="../assets/images/banner-11140x217.png")
        div 
            .mt-3  
                +title("Sản phẩm mới", true)
            .mt-4
                +productList("new-products")
        div 
            .mt-3  
                +title("Tin tức")
            +newsList(news)
                each val in news 
                    .col-md-4
                        +news(val)
