extends ../base/productList_base

block mainSection
    +productList([...bestSellingProducts, ...discountProducts])
        each val, index in [...bestSellingProducts, ...discountProducts] 
            .col-md-4
                +productLg(val)
