extends ../base/productList_base

block mainSection
    +productList([...featuredProducts, ...discountProducts])
        each val, index in [...featuredProducts, ...discountProducts] 
            .col-md-4
                +productLg(val)
