mixin searchInput()
    .search__input 
        input(type="text" placeholder="Tìm kiếm")
        button 
            i(class="fa-solid fa-magnifying-glass")

mixin emailInput()
    .email__input 
        input(type="email")
        button 
            i(class="fa-solid fa-paper-plane")

mixin checkboxInput(text)
  .check-box 
    input(type="checkbox")
    label=text
