include ../components/media_icons
include ../components/input
include ../components/navlink

mixin footer
        footer 
            .footer-top 
                .container 
                    .row.mobile-flex-column
                        .col-md-4.mobile-mb
                            div(class="mobile-mb mobile-change-color") KÊNH THÔNG TIN TỪ CHÚNG TÔI:
                            +mediaIcons(mediaIcons)
                        .col-md-8
                            .row.mobile-flex-column
                                .col-md-3 
                                    div(class="mobile-mb mobile-change-color") ĐĂNG KÝ NHẬN EMAIL TỪ CHÚNG TÔI
                                .col-md-9 
                                    +emailInput()
            .footer-mid.d-flex.align-items-center 
                .container 
                    .row.mobile-flex-column 
                        .col-md-4.footer__logo 
                            div.mb-2
                                img(src="./assets/images/logo.png")
                            p.mb-2 Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển
                            .d-flex.align-items-center.mb-1 
                                i(class="fa-solid fa-mobile-screen-button")
                                span Điện thoại: (84-4)66.558.868
                            .d-flex.align-items-center  
                                i(class="fa-solid fa-envelope")
                                span Email: info@dkt.com.vn
                        .col-md-8
                            .row.mt-4.mobile-flex-column 
                                .col-md-3.mobile-mb 
                                    +footerNav(customerInfo)
                                .col-md-9.row.mobile-flex-column
                                    .col-md-5.mobile-mb
                                        +footerNav(serviceSupport)
                                    .col-md-5.mobile-mb
                                        +footerNav(policies)
                                    .col-md-2.mobile-mb
                                        +footerNav(newsNav)
            .footer-bottom.d-md-flex.align-items-center.d-none.d-md-block
                .container 
                    .row.justify-content-between 
                        .col-md-6
                            +footerBottomNav(footerBottomNav)
                        .col-md-3
                            .d-flex.justify-content-end
                                +mediaIcons(paymentIcons)
