include ../components/input
include ../components/media_icons
include ./navbar

mixin header
    header
        .header-top.d-md-flex.align-items-center
            .container 
                .d-flex.justify-content-between
                    .col-md-8.col-lg-5
                        .d-flex.justify-content-between 
                            .d-flex.align-items-center
                                i(class="fa-solid fa-clock me-2")
                                p.m-0 Open time: 8.00 -18.00 Monday - Sunday
                            +mediaIcons(mediaIcons)
                    .col-md-3.d-sm-flex.justify-content-sm-end
                        .d-flex.justify-content-end 
                            .d-flex.align-items-center 
                                i(class="fa-solid fa-user me-1")
                                span(class="tablet-display-none") Đăng nhập 
                            .d-flex.align-items-center.ms-3 
                                i(class="fa-solid fa-user-plus me-1")
                                span(class="tablet-display-none") Đăng ký 
        .container
            .row
                .col-lg-6.col-md-12
                    a 
                        img(src="../assets/images/logo.png")
                .col-md-6.d-lg-flex.flex-column.justify-content-center.header-right 
                    .d-flex.ms-2.mb-2
                        .d-flex.align-items-center.support-number
                            i(class="fa-solid fa-phone me-1")
                            p.m-0 HỖ TRỢ: (04)6674 2332 - (04)3786 8904
                    .row
                        .col-md-9
                            +searchInput()
                        .col-md-3.d-flex.align-items-center.cart.justify-content-end
                            span
                                i(class="fa-solid fa-basket-shopping me-2")
                            span 0 sản phẩm 
        +navbar
