.search__input {
    width: 100%;

    position: relative;

    input {
        width: 100%;
        padding: 15px 15px;
        border: 0;
        border-radius: 30px;
        outline: none;
    }

    button {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        font-size: 20px;
        color: $gray-color;
        border-left: 1px solid $gray-color;
        padding: 3px 10px;
    }
}

.email__input {
    display: flex;

    input {
        width: 100%;
        padding: 10px 0;
        border: none;
    }

    button {
        color: $white-color;
        width: 38px;
        border: none;
        background-color: $primary-color;
    }
}

.check-box {
  @include flex(row, center, flex-start);

  input {
    width: 15px;
    height: 15px;
    border-radius: 0;
  }

  label {
    margin-left: 8px;
    font-size: $fs-md;
    color: $gray-color;
  }
}

.forgot-password {
  font-size: $fs-md;
  margin-left: 20px;
  font-style: italic;
  text-decoration: underline!important;
  color: $black-color;
}
