.nav-link {
    padding: 15px 20px!important;
    color: $white-color;
}

.footer-nav  {
    display: flex;
    flex-direction: column;

    h6 {
        color: $primary-color;
        height: 42px;

        @include respond-to('smallphone-and-down') {
            margin-bottom: 0px;
        }
    }

    i {
        margin-right: 3px;
        font-size: $fs-sm;
    }
}
