.nav-link {
    padding: 15px 20px!important;
    color: $white-color;

    &:hover {
      background-color: rgb(29, 223, 116);
      cursor: pointer;
    }
}

.footer-nav  {
    display: flex;
    flex-direction: column;

    h6 {
        color: $primary-color;
        height: 42px;

        @include respond-to('smallphone-and-down') {
            margin-bottom: 0px;
        }
    }

    i {
        margin-right: 3px;
        font-size: $fs-sm;
    }
}

.sidebar__navlink {
    font-size: $fs-md;
    color: $gray-color;

    i {
        margin-right: 5px;
    }

    li {
        margin: 0!important;
        padding: 8px 0;
        border-bottom: 1px solid $secondary-color;
    }
}

.color__dot {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    div {
        @include box(30px, 30px, 50%);
        margin-right: 10px;
    }
}

.blog-tag {
  @include flex(row, center, flex-start);
  flex-wrap: wrap;

  button {
    background-color: transparent;
    font-size: $fs-md;
    color: $gray-color;
    border: 1px solid $secondary-color;
    transition: ease-in-out 0.5s;
    height: 40px;
    padding: 0.5rem 1rem;
    margin: 0.3rem;

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }
  }
}
