.details-img {
  &__main {
    margin-bottom: 20px;
    height: 82%;
  }

  &__sub {
    @include flex(row, center, space-between);

    img {
      width: 18%;
    }
  }
}

.details-content {
  &__price {
    color: $red-color;
    margin-right: 5px;
  }

  &__discount {
    font-size: $fs-md;
    color: $light-gray-color;
    text-decoration: line-through;
  }

  &__wrapper {
    height: 82%;

    @include respond-to(smallphone-and-down) {
      height: 400px;
    }
  }

  &__wrapper > * {
    height: 25%;
  }

  &__top {
    @include flex(column, flex-start, space-evenly);
    border-bottom: 1px solid $light-gray-color;

    p {
      font-size: $fs-xl;
    }

    @include respond-to(smallphone-and-down) {
      align-items: center
    }
  }

  &__desc {
    @include flex(row, center, flex-start);
    border-bottom: 1px solid $light-gray-color;

    p {
      color: $gray-color;
      font-size: $fs-md
    }

    @include respond-to(smallphone-and-down) {
      justify-content: center;
    }
  }

  &__quantity {
    @include flex(row, center, flex-start);
    border-bottom: 1px solid $light-gray-color;

    @include respond-to(smallphone-and-down) {
      justify-content: center;
    }
    
    .quantity-btns {
      width: 26%;
      margin-left: 20px;
      @include flex(row, center, space-between);

      @include respond-to(smallphone-and-down) {
        width: auto;
      }

      & > * {
        padding: 10px 20px;
        border: 1px solid $secondary-color;
        background-color: transparent;
        color: $black-color;
      }

      span {
        padding: 10px 30px
      }
    }
  }

  .btn__wrapper {
    @include flex(row, center, flex-start);

    & > * {
      margin-right: 12px;
    }

    @include respond-to(smallphone-and-down) {
      justify-content: center;
    }
  }
}

.details-tabs__container {
  margin: 100px 0;

  .details-tabs {

    p {
      color: $black-color;
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid $secondary-color;
  
      &.active {
        border-top: 2px solid $gray-color;
        border-left: 1px solid $secondary-color;
        border-right: 1px solid $secondary-color;
        border-bottom: none!important;
        color: $primary-color;
      }
    }
  }

  .details-info {
    padding: 35px;
    border-left: 1px solid $secondary-color;
    border-right: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;

    p {
      font-size: $fs-md;
      color: $gray-color;
      padding-bottom: 15px;
    }
  }
}
