@use "sass:math";

.product-lg {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;

    .product__info {
        height: 120px;
        justify-content: center;
        text-align: center;

        p {
            font-size: $fs-md;
            color: $black-color;
        }

        i {
            color: $yellow-color;
            font-size: $fs-md;
        }

        .current-price {
            color: $red-color;
        }

        .prev-price {
            font-size: $fs-sm;
            color: $light-gray-color;
            text-decoration: line-through;
        }
    }
}

.product-sm {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    padding: 3px 0;

    @include respond-to('smallphone-and-down') {
        height: 150px;
    }

    .img__container {
        overflow: hidden;

        @include respond-to('smallphone-and-down') {
            width: 160px;
            height: 140px;
            margin: 0px;
        }
    }

    img {
        transform: scale(1.5);

        @include respond-to('smallphone-and-down') {
            transform: scale(0.8);
        }
    }

    p {
        font-size: $fs-sm;
        color: $black-color;
    }

    i {
        color: $yellow-color;
        font-size: $fs-sm;
    }

    .current-price {
        color: $red-color;
        font-size: $fs-md;
    }
}

.product-row {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  padding: 0!important;

  &__wrapper {
    @include flex(row, center, flex-start);
    height: 100%;

    @include respond-to(smallphone-and-down) {
      height: 300px
    }
  }

  &__title {
    font-size: $fs-xl;
  }

  &__desc {
    font-size: $fs-md;
  }

  &__price {
    color: $red-color;
  }

  &__info {
    height: 80%;
    padding: 0 35px;
    @include flex(column, flex-start, space-between);

    @include respond-to(smallphone-and-down) {
      align-items: center
    }
  }

  .btn__wrapper {
    @include flex(row, center, flex-start);

    & > * {
      margin-right: 12px;
    }
  }
}

@include respond-to('smallphone-and-down') {
    .mobile-padding-0 {
        padding: 0px;
    }
};
