.title__container {
    padding: 10px 0 0px 0;
    border-bottom: 2px solid $secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        background-color: transparent;
        border: 1px solid $light-gray-color;
        color: $light-gray-color;
        padding: 5px;
        border-radius: 50%;
        font-size: $fs-sm;
    }

    span {
        padding: 5px 0;
        font-weight: bold;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        position: relative;
        top: 1px;
    }
}

.filter-heading {
    @include flex(row, center, space-between);
    height: 90px;

    i {
        color: $gray-color;
        font-size: 18px;
        margin-right: 10px;
    }

    select {
        border: 1px solid $light-gray-color;
        background-color: transparent;
        padding: 10px 5px;
        outline: none;
        color: $gray-color;
        font-size: $fs-md;
    }
}

.title-noline {
  font-weight: bold;
  color: $primary-color;
  text-transform: uppercase;
  margin: 20px 0;
}
