/*Desktop first*/
$breakpoints-desktop: (
  smallphone-and-down: '(max-width: 399px)',
  phone-and-down: '(max-width: 575px)',
  tablet-and-down: '(max-width: 767px)',
  desktop-and-down: '(max-width: 991px)',
  largedesktop-and-down: '(max-width: 1199px)',
  extralarge-and-down: '(max-width: 1439px)',
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints-desktop, $breakpoint);
  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );
    @media #{$query} {
      @content;
    }
  }
}
