@include respond-to('smallphone-and-down') {
    .mobile-flex-column {
        flex-direction: column;
    }

    .mobile-display-none {
        display: none!important;
    }

    .mobile-mb {
        margin-bottom: 10px;
    }

    .mobile-mb-0 {
        margin-bottom: 0px;
    }

    .mobile-change-color {
        color: $primary-color;
    }
}

@include respond-to("tablet-and-down") {
  .tablet-display-none {
    display: none!important;
  }
}

@mixin box($width, $height: $width, $border-radius: 0) {
    width: $width;
    height: $height;
    border-radius: $border-radius;
}

@mixin flex($flex-direction: row, $align-items: center, $justify-content: center) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}
