$spacing: 0.5rem;

/*Colors*/
$primary-color: rgb(43, 194, 111);
$secondary-color: #e9e7e7;
$black-color: #333131;
$gray-color: #757272;
$light-gray-color: #b3abab;
$white-color: #ffffff;
$yellow-color: rgb(248, 195, 20);
$red-color: rgb(219, 34, 34);

/*Font size*/
$fs-sm: 12px;
$fs-md: 14px;
$fs-lg: 16px;
$fs-xl: 18px;
