$spacing: 0.5rem;

/*Colors*/
$primary-color: rgb(43, 194, 111);
$secondary-color: #e9e7e7;
$black-color: #292828;
$gray-color: #757272;
$white-color: #ffffff;

/*Font size*/
$fs-sm: 12px;
$fs-md: 14px;
$fs-lg: 16px;
$fs-xl: 18px;
