-
  const cartItems = [
    {
      imgSrc: "../assets/images/spx2-5.png",
      title: "Cây dứa nhỏ", 
      curPrice: 375000 ,
      amount: 1,
      
    },
    {
      imgSrc: "../assets/images/spx2-6.png",
      title: "Cây Danh Dự", 
      curPrice: 250000,
      amount: 3,
      
    },
    {
      imgSrc: "../assets/images/spx2-7.png",
      title: "Cây Dạ Lam", 
      curPrice: 850000,
      amount: 2,
      
    }
  ]
- let taxExcluded = cartItems.reduce((total, item) => {return total + (item.curPrice * item.amount)}, 0)
- let tax = taxExcluded * 0.1
- let total = Number(taxExcluded) - Number(tax)
