-
  const userComments = [
    {
      userName: "Nguyễn Văn An",
      userImg: "./assets/images/user.jpeg",
      comment: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur veritatis rem ex fugiat deserunt nobis voluptatibus totam iusto officia sint!",
      date: "Thứ 7, 26/12/2015 12:00 AM",
      reply: true,
      replyingUser: {
        userName: "Nguyễn Văn An",
        userImg: "./assets/images/user.jpeg",
        comment: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur veritatis rem ex fugiat deserunt nobis voluptatibus totam iusto officia sint!",
        date: "Thứ 7, 26/12/2015 12:00 AM",
      }
    },
    {
      userName: "Nguyễn Văn An",
      userImg: "./assets/images/user.jpeg",
      comment: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur veritatis rem ex fugiat deserunt nobis voluptatibus totam iusto officia sint!",
      date: "Thứ 7, 26/12/2015 12:00 AM",
    }
  ]
