-
  const contact = [
    {
      title: "Họ và tên",
      important: true,
    },
    {
      title: "Địa chỉ email",
      important: true,
    },
    {
      title: "Số ĐT",
      important: true,
    },
  ]
