-
    const mediaIcons = [
        "fa-brands fa-facebook-f", 
        "fa-brands fa-twitter", 
        "fa-brands fa-youtube", 
        "fa-brands fa-linkedin"]
-
    const paymentIcons = [
        "fa-brands fa-cc-visa", 
        "fa-brands fa-cc-mastercard", 
        "fa-brands fa-cc-paypal", 
        "fa-brands fa-cc-discover"]
