-
  const news = [
      {
          imgSrc: "./assets/images/news1.png", 
          date: "Thứ 7, ngày 31, tháng 12, năm 2015", 
          title: "15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê", 
          subContent: "Cùng Sài Gòn hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé! Kết hợp hàng rào"
      },
      {
          imgSrc: "./assets/images/news2.png", 
          date: "Thứ 7, ngày 31, tháng 12, năm 2015", 
          title: "Tạo tiểu cảnh góc sân cho nhà phố, biệt thự đẹp", 
          subContent: "Khi bước từ ngoài ngõ vào hay từ trong nhà đi ra, góc sân luôn là điểm nhìn đầu tiên của chúng ta."
      },{
          imgSrc: "./assets/images/news3.png", 
          date: "Thứ 7, ngày 31, tháng 12, năm 2015", 
          title: "Cách bố trí hoa chậu trước cửa ấn tượng", 
          subContent: "Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa."
      }]

-
  const featuredNews = [
    {
      imgSrc: "./assets/images/featurednews1.jpg",
      title: "Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách",
      datePosted: "20/12/2015",
      timePosted: "11:20:00 AM",
      comment: 0,
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum facere itaque, maxime aperiam cupiditate nostrum ipsam ratione modi at est, atque blanditiis dolor, debitis amet molestias pariatur illum eligendi error quaerat alias? Fugiat mollitia cumque sint illum, magnam enim obcaecati voluptates rem pariatur quos unde dolores vero eos est hic."
    },
    {
      imgSrc: "./assets/images/featurednews2.jpg",
      title: "Những sai lầm nên tránh khi bố trí cây xanh trong nhà",
      datePosted: "20/12/2015",
      timePosted: "11:20:00 AM",
      comment: 0,
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum facere itaque, maxime aperiam cupiditate nostrum ipsam ratione modi at est, atque blanditiis dolor, debitis amet molestias pariatur illum eligendi error quaerat alias? Fugiat mollitia cumque sint illum, magnam enim obcaecati voluptates rem pariatur quos unde dolores vero eos est hic."
    },
    {
      imgSrc: "./assets/images/featurednews3.jpg",
      title: "7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng",
      datePosted: "20/12/2015",
      timePosted: "11:20:00 AM",
      comment: 0,
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum facere itaque, maxime aperiam cupiditate nostrum ipsam ratione modi at est, atque blanditiis dolor, debitis amet molestias pariatur illum eligendi error quaerat alias? Fugiat mollitia cumque sint illum, magnam enim obcaecati voluptates rem pariatur quos unde dolores vero eos est hic."
    },
    {
      imgSrc: "./assets/images/featurednews4.jpg",
      title: "Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng",
      datePosted: "20/12/2015",
      timePosted: "11:20:00 AM",
      comment: 0,
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum facere itaque, maxime aperiam cupiditate nostrum ipsam ratione modi at est, atque blanditiis dolor, debitis amet molestias pariatur illum eligendi error quaerat alias? Fugiat mollitia cumque sint illum, magnam enim obcaecati voluptates rem pariatur quos unde dolores vero eos est hic."
    },
    {
      imgSrc: "./assets/images/featurednews5.jpg",
      title: "4 loại cây cảnh thích hợp bày trí ở khu vực đại sảnh",
      datePosted: "20/12/2015",
      timePosted: "11:20:00 AM",
      comment: 0,
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum facere itaque, maxime aperiam cupiditate nostrum ipsam ratione modi at est, atque blanditiis dolor, debitis amet molestias pariatur illum eligendi error quaerat alias? Fugiat mollitia cumque sint illum, magnam enim obcaecati voluptates rem pariatur quos unde dolores vero eos est hic."
    }
  ]
