-
  const newsDetails = {
    id: 123,
    imgSrc: "./assets/images/featurednews3.jpg",
    title: "Cách bố trí hoa chậu trước cửa ấn tượng",
    date: "Thứ 7, ngày 31, tháng 12, năm 2015", 
    datePosted: "20/12/2015",
    timePosted: "11:20:00 AM",
    comment: 0,
    content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, provident? Pariatur in officiis reiciendis nobis earum? Architecto esse odio ab? Aperiam cupiditate modi possimus veniam, accusamus nostrum nemo impedit rem numquam fugiat, porro distinctio doloribus velit sit, temporibus harum dolore unde consectetur quaerat perferendis quo eius ex omnis dolor? Consequuntur quaerat velit totam qui et voluptas distinctio, repellat numquam consectetur?",
    content1: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit in totam exercitationem. Velit magnam aliquam nisi officia modi placeat culpa laborum facilis, explicabo corrupti! Magni cum ad odit incidunt, temporibus adipisci consectetur nostrum earum excepturi autem, cupiditate qui porro architecto vitae illo impedit? Ab exercitationem error blanditiis dicta sit.",
    imgContent: "./assets/images/featurednews2.jpg",
  }
