-
  const personalInfo = [
    {
      title: "Họ và tên",
      important: true,
    },
    {
      title: "Số ĐT",
      important: true,
    },
    {
      title: "Địa chỉ email",
      important: true,
    },
    {
      title: "Website của bạn",
      important: true,
    }
  ]
-
  const accountInfo = [
    {
      title: "Mật khẩu",
      important: true,
    },
    {
      title: "Nhập lại mật khẩu",
      important: true,
    },
  ]
