-const mediaIcons = ["fa-brands fa-facebook-f", "fa-brands fa-twitter", "fa-brands fa-youtube", "fa-brands fa-linkedin"]
-const customerInfo = {title: "THỒNG TIN KHÁCH HÀNG", subTitle: ["Tài khoản của tôi", "Sản phẩm yêu thích", "Lịch sử mua hàng", "Chính sách đổi trả", "Góp ý khiếu nại"]}
-const serviceSupport = {title: "HỖ TRỢ DỊCH VỤ", subTitle: ["Hệ thống cửa hàng", "Hướng dẫn mua hàng", "Hướng dẫn thanh toán", "Tích điểm đổi quà", "Câu hỏi thường gặp"]}
-const policies = {title: "CHÍNH SÁCH ƯU ĐÃI", subTitle: ["Chính sách giao hàng", "Chính sách đổi trả sản phẩm", "Chính sách bảo hành", "Giới thiệu sản phẩm mới", "Chính sách trả góp"]}
-const newsNav = {title: "TIN TỨC", subTitle: ["Tin mới", "Khuyến mãi", "Tuyển dụng", "Download", "Tags"]}
-const paymentIcons = ["fa-brands fa-cc-visa", "fa-brands fa-cc-mastercard", "fa-brands fa-cc-paypal", "fa-brands fa-cc-discover"]
-
    const footerBottomNav = [
        "Sitemap", "Danh mục sản phẩm", 
        "Hợp tác", 
        "Thông tin liên hệ", 
        "Câu hỏi thường gặp"]
