footer {
    background-color: $black-color;

    .footer-top {
        display: flex;
        align-items: center;
        height: 100px;
        border-bottom: 1px solid $gray-color;
        font-weight: bold;
        color: $gray-color;
        font-size: $fs-md;

        @include respond-to('smallphone-and-down') {
            height: 200px;
        }
    }

    .footer-mid {
        height: 400px;
        color: $light-gray-color;
        font-size: $fs-md;
        border-bottom: 1px solid $gray-color;

        @include respond-to('smallphone-and-down') {
            height: 1400px;
            font-size: $fs-lg;
        }

        .footer__logo {
            i {
                width: 25px;
                color: $primary-color;
                font-size: $fs-sm;
            }
        }
    }

    .footer-bottom {
        height: 60px;

        a {
            color: $light-gray-color!important;
            font-size: $fs-md!important;
        }

        .footer-bottom__nav  {
            display: flex;
            justify-content: space-between;
        }
    }
}

@include respond-to('smallphone-and-down') {
    .mobile-flex-column {
        flex-direction: column;
    }

    .mobile-display-none {
        display: none;
    }

    .mobile-mb {
        margin-bottom: 10px;
    }

    .mobile-change-color {
        color: $primary-color;
    }
}
